===================================
LOCAL
===================================
@daily  /Users/soniafabre/Projects/workspace/git/react-alerts-ikea-api/scripts/alert-checker.sh local

===================================
STAGING
===================================
@daily /home/ubuntu/journey-labs/react-alerts-ikea-api/scripts/alert-checker.sh local
