===================================
LOCAL
===================================
@daily  /Users/soniafabre/Projects/workspace/git/sg-ikea-alerts/server/scripts/alert-checker.sh local

===================================
STAGING
===================================
@daily /home/ubuntu/journey-labs/sg-ikea-alerts/server/scripts/alert-checker.sh staging
