===================================
LOCAL
===================================
0 5 * * 1  /Users/soniafabre/Projects/workspace/git/sg-ikea-alerts/server/scripts/alert-checker.sh local

===================================
STAGING
===================================
0 5 * * 1 /home/ubuntu/journey-labs/sg-ikea-alerts/server/scripts/alert-checker.sh staging
